html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background: #e9c46a;
  background: #264653;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

#instructions-container,
#instruction-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#instructions-container h1,
#instruction-page h1,
#new-game-menu h1 {
  margin-block-end: 2rem;
}

#instructions-container ul > li,
#instruction-page ul > li {
  cursor: pointer;
  padding-block: 0.5rem;
  scale: 1;
  transition: scale 0.3s ease-in-out;
}

#instructions-container ul > li:hover {
  scale: 1.2;
}

#new-game-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#new-game-menu h2 {
  font-size: 2.5rem;
  margin-block: 1rem;
}

#new-game-menu ul > li {
  cursor: pointer;
  padding-block: 0.5rem;
  scale: 1;
  transition: scale 0.3s ease-in-out;
}

#new-game-menu ul > li:hover {
  scale: 1.2;
}

i {
  margin-inline-end: 1rem;
}

.go-back-main-menu {
  cursor: pointer;
  scale: 1;
  transition: scale 0.3s ease-in-out;
}

#go-back-main-menu:hover {
  scale: 1.2;
}

main {
  opacity: 1;
  width: 100%;
  padding: 1.5rem;
}

#pop-up-display {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* background: #fff;
  opacity: 0.7; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-content {
  background: #e9c46a;
  background: #264653;
  z-index: 3;
  opacity: 1;
  min-height: 30rem;
  width: max(30rem, 50%);
  display: flex;
  flex-flow: column nowrap;
  padding: 2.1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pop-up-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  /* background: #264653; */
  opacity: 0.3;
}

.pop-up-content h2 {
  font-size: clamp(1.2rem, 6vw, 3.6rem);
  text-align: center;
}

.confirmation-buttons {
  display: flex;
}

.confirmation-buttons .pushable {
  margin-inline: 1.5rem;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.8rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

#pop-up-display {
  display: none;
}

.gameboard-play-area {
  display: none;
  flex-flow: row wrap;
  /* border: 2px solid red; */
  gap: 0.1rem;
  justify-content: space-evenly;
}

#gameboard {
  display: none;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.gameboard-header {
  display: flex;
  justify-content: space-between;
  width: 100rem;
}

/* Addded here */

/* Card flip */
#game .flip {
  /* cursor: pointer; */
  cursor: url("./images/eye.png"), auto;

  /* -webkit-animation: wobble 2s linear infinite;
  animation: wobble 2s linear infinite; */
  /* -webkit-animation: rubberBand 2s linear infinite;
  animation: rubberBand 2s linear infinite; */
  position: relative;
  /* border: 1px solid black; */
  width: 15rem;
  height: 15rem;
  margin-block: 0.5rem;
  /* overflow: hidden; */
  display: inline-block;
  border-radius: 10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}

#game .card-front {
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(218, 85, 85);
  background: rgb(212, 183, 86);
  background: #2a9d8f;
  background: #e9c46a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#game .card-back {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.flip > .card-front,
.flip > .card-back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.6s;
  transition-property: transform, opacity;
}
.flip > .card-front {
  transform: rotateY(0deg);
}
.flip > .card-back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

/* .flip:hover > .card-front {
  transform: rotateY(180deg);
}
.flip:hover > .card-back {
  opacity: 1;
  transform: rotateY(0deg);
} */

.open > .card-front {
  transform: rotateY(180deg);
}
.open > .card-back {
  opacity: 1;
  transform: rotateY(0deg);
}

.just-flip-front {
  transform: rotateY(180deg);
  background: green;
}

.just-flip-back {
  opacity: 1;
  transform: rotateY(0deg);
  background: blue;
  transform: scaleX(3);
}

.flip > .card-front,
.flip > .card-back {
  display: block;
  /* color: white;
  width: inherit; */
  background-size: cover !important;
  background-position: center !important;
  /* height: 220px;
  padding: 1em 2em; */
  /* background: #313131; */
  border-radius: 10px;
}

/* Card flip End*/

/* Wobble css */

/*base code*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    -ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    -ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    -ms-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    -ms-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation: wobble 1.2s ease-out;
  animation: wobble 1.2s ease-out;
}

.rubberBand {
  -webkit-animation: rubberBand 1.2s ease-in;
  animation: rubberBand 1.2s ease-in;
}

/*  Rubber Band Css */

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.card-face {
  width: 100%;
  height: 100%;
  /* background: red;
  background-clip: text; */
  color: transparent;
}

.gameboard-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  margin-block: 1rem;
}

.home-button > * {
  cursor: pointer;
}

.home-button > *:hover {
  color: #e9c46a;
}

.instruction-list {
  text-align: left;
}

.instruction-list li {
  margin-block: 1rem;
}

#instruction-page {
  display: none;
}
